// TODO: change the //TODO:... and rename this file to .env (remove this line, "Do not share your keys")

NEXT_PUBLIC_API_KEY: //TODO: change with your firebase project details
NEXT_PUBLIC_AUTH_DOMAIN: //TODO: change with your firebase project details
NEXT_PUBLIC_PROJECT_ID: //TODO: change with your firebase project details
NEXT_PUBLIC_STORAGE_BUCKET: //TODO: change with your firebase project details
NEXT_PUBLIC_MESSAGING_SENDER_ID: //TODO: change with your firebase project details
NEXT_PUBLIC_APP_ID: //TODO: change with your firebase project details
NEXT_PUBLIC_MEASUREMENT_ID: //TODO: change with your firebase project details
NEXT_PUBLIC_URL: http://localhost:3000/

CLIENT_EMAIL: //TODO: change with your firebase-admin project details
PRIVATE_KEY: //TODO: change with your firebase-admin project details

NEXT_PUBLIC_ENV_TYPE: //TODO: change to emulator to use firebase emulators else uses firebase cloud
